<!-- This page takes an array of posts sorted by date
  and displays them in a list -->


  <ul>


  <% @posts.each do |post| %>

  <li>

  <div class= <%="#{post.source}"%>  >
    <div class>

    

    </div>
  </div>
  </li>

</ul>
