<!-- This page takes an array of posts sorted by date
  and displays them in a list -->



<table class = "table table-hover text-left">

  <% @posts.each do |post| %>

  <tr class= "post-wrapper"  >
    <% if post.feed.provider == "Twitter" %>

      <%= render "twitter_post", object: post %>
    <% elsif post.feed.provider == "Vimeo" %>
      <%= render "vimeo_post", object: post %>

    <% end %>
  </tr>

  <% end %>

</table>
