// colors: http://coolors.co/b4ddd1-c0c4bb-fff0f5-c0a0b6-665e68

body {
  padding-top: 75px;
}

body nav,
.navbar-inverse {
  background-color: #FFF0F5;
  border-color: #CCC;
}

.navbar-inverse a.navbar-brand {
  color: #7F5261;
}

.navbar-inverse a.navbar-brand:hover {
  color: #7F5261;
  text-decoration: underline;
}

.navbar-inverse .navbar-toggle {
  border-color: #CCC;
  background-color: #665E68;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #C0A0B6;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFF0F5;
}

body .navbar-nav{
  padding: 15px 0px;
}

body .navbar-nav>li {
  padding-right: 10px;
}

nav h2 {
  margin-top: 0;
}

.nav-search {
  display: inline-block;
  float: right;
  padding: 15px 0px;
}

table {
  margin-top: 30px;
}

.twitter {
  background-color: #00aced;
}

.vimeo {
  background-color: purple;
}

.vimeo-list li {
  list-style-type: none
}


.search-box {
  display: inline-block;
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}
