// colors: http://coolors.co/b4ddd1-c0c4bb-fff0f5-c0a0b6-665e68

body {
  padding-top: 90px;

}


.home_page {
  background-color: rgb(220,68,228);
  margin: 0;

}




#cat {
  display: block;
  width: auto;
  float: left;
}
#blush{
  display: inline-block;
}
#welcome {
  display: inline-block;
  position: center;
  width: 80%;
  color: white;
  text-align: center;
  li  {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;

    list-style-type: none;
  }
  .btn {
    background-color: purple;
    color: white;
    border:solid purple 1em;
    border-radius: 1em;
    font-size: 20px;
  }
}

body nav,
.navbar-inverse {
  background-color: rgb(220,68,228);
  border-color: #CCC;


}

.navbar-inverse a.navbar-brand {
  color: #7F5261;
  color: white;


}

.navbar-inverse a.navbar-brand:hover {
  color: #7F5261;
  color: pink;
  text-decoration: underline;
}

.navbar-inverse .navbar-toggle {
  border-color: #CCC;
  background-color: #665E68;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #C0A0B6;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFF0F5;
}

body .navbar-nav{
  padding: 15px 0px;
}

body .navbar-nav>li {
  padding-right: 10px;
}

nav h2 {
  margin-top: 0;
  
}

.nav-search {
  display: inline-block;
  float: right;
  padding: 15px 0px;
}

table {
  margin-top: 30px;
}

.twitter {
  background-color: #00aced;
}

.vimeo {
  background-color: purple;
}

.vimeo-text li {
  list-style-type: none
}



.search-box {
  display: inline-block;
}

.vimeo-description {
  display: inline-block;
}



@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}
